<header class='top-page-header'>

  <%#ç”»åƒã‚¯ãƒªãƒƒã‚¯ã§ãƒˆãƒƒãƒ—ãƒšãƒ¼ã‚¸ã¸é·ç§»ã§ãã‚‹ã‚ˆã†ã«%>
  <div class='books-passage-head'>
    <div class='move-icon'>
      <%= link_to 'ð”¹ð•†ð•†ð•‚ð•Š â„™ð”¸ð•Šð•Šð”¸ð”¾ð”¼', root_path, class: 'books-passage-icon-head'%>
    </div>
  </div>

  <div class='header-right'>
    <div class='nav'>
      <%#ãƒ­ã‚°ã‚¤ãƒ³ã®æœ‰ç„¡ã§è¡¨ç¤ºã®å¤‰æ›´%>
      <ul class='list'>
      <%#ãƒ¦ãƒ¼ã‚¶ãƒ¼è©³ç´°ãƒšãƒ¼ã‚¸ã¸é·ç§»%>
      <% if user_signed_in? %>
        <li class='header-list'><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>
        <li class='header-list'><%= link_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li class='header-list'><%= link_to 'ãƒ­ã‚°ã‚¤ãƒ³', new_user_session_path, class: "login" %></li>
        <li class='header-list'><%= link_to 'æ–°è¦ç™»éŒ²', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
      </ul>
    </div>

    <div class='search-bar-contents'>
      <%#æ¤œç´¢æ©Ÿèƒ½%>
      <div class='search-move'>
        <%= form_with(url: search_books_path, local: true, method: :get, class: "search-form") do |form| %>
          <%= form.text_field :keyword, placeholder: "ã‚¿ã‚¤ãƒˆãƒ«ã¨ä½œå®¶åã§æŽ¢ã™", class: "search-input" %>
          <%= form.submit 'æ¤œç´¢', class: "search-btn" %>
        <% end %>
      </div>
      <%#ã‚¸ãƒ£ãƒ³ãƒ«ã‚’é¸æŠžã™ã‚‹ã¨ãã®ä¸€è¦§ãŒè¡¨ç¤ºã•ã‚Œã‚‹ã‚ˆã†ã«%>
      <div class='search-genre'>
        <%= search_form_for @q, url: genre_books_path do |f| %>
          <%= f.collection_select :genre_id_eq, Genre.where.not(id: 1), :id, :name, include_blank: "æœ¬ã®ã‚¸ãƒ£ãƒ³ãƒ«ã§æŽ¢ã™", class: "search-genre" %>
          <%= f.submit 'æ¤œç´¢', class: "search-genre-btn" %>
        <% end %>
      </div>

    </div>
  </div>
    
  
</header>