<header class='top-page-header'>

  <%#ç”»åƒã‚¯ãƒªãƒƒã‚¯ã§ãƒˆãƒƒãƒ—ãƒšãƒ¼ã‚¸ã¸é·ç§»ã§ãã‚‹ã‚ˆã†ã«%>
  <div class='books-passage'>
  <%= link_to 'ð”¹ð•†ð•†ð•‚ð•Š â„™ð”¸ð•Šð•Šð”¸ð”¾ð”¼', root_path, class: 'books-passage-icon'%>
  </div>

  <div class='header-right'>
    <div class='nav'>
      <%#ãƒ­ã‚°ã‚¤ãƒ³ã®æœ‰ç„¡ã§è¡¨ç¤ºã®å¤‰æ›´%>
      <ul class='list'>
      <%#ãƒ¦ãƒ¼ã‚¶ãƒ¼è©³ç´°ãƒšãƒ¼ã‚¸ã¸é·ç§»%>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>
        <li><%= link_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ãƒ­ã‚°ã‚¤ãƒ³', new_user_session_path, class: "login" %></li>
        <li><%= link_to 'æ–°è¦ç™»éŒ²', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
      </ul>
    </div>

    <div class='search-bar-contents'>
      <%#æ¤œç´¢æ©Ÿèƒ½%>
      <form class="search-form" action="#">
        <input class='input-box' placeholder='ã‚­ãƒ¼ãƒ¯ãƒ¼ãƒ‰ã‹ã‚‰æŽ¢ã™'>
        <button class="search-button">
          <%= image_tag "search.png", class:"search-icon" %>
        </button>
      </form>
      <%#ã‚¸ãƒ£ãƒ³ãƒ«ã‚’é¸æŠžã™ã‚‹ã¨ãã®ä¸€è¦§ãŒè¡¨ç¤ºã•ã‚Œã‚‹ã‚ˆã†ã«%>
      <%= link_to 'ã€œæœ¬ã®ã‚¸ãƒ£ãƒ³ãƒ«ã§æŽ¢ã™ã€œ', "#", class: "genre-list" %>
    </div>
  </div>
    
  
</header>