<div class='title'>
  <div class='app-title'>
  𝔹𝕆𝕆𝕂𝕊 ℙ𝔸𝕊𝕊𝔸𝔾𝔼
  </div>
</div>

<div class='books-lists'>
  <%#全ての本のリスト%>
  <li class='left-books'>
    <h2 class='what-lists'>みんなが新しく読んだ本</h2>
    <% @books.each do |book| %>
      <div class='book-list'>
      <%= link_to book_path(book.id) do %>
        <div class='book-content'>
          <%= image_tag(book.image, class: "book-image") %>
      <% end %>
          <div class='book-title'>
            タイトル:<%= link_to "#{book.title}", "/books/search?keyword=#{book.title}&commit=検索", class: "book-title" %>
          </div>
          <div class='book-author'>
            作者:<%= link_to "#{book.author}", "books/search?keyword=#{book.author}&commit=検索", class: "book-author" %>
          </div>
          <div class='book-genre'>
            ジャンル:<%= link_to "#{book.genre[:name]}", "#", class: "book-genre" %>
          </div>
          <div class='book-begining'>
            <%= "書き出し:" + book.begining %>
          </div>
          <div class='book-user'>
            投稿者:<%= link_to "#{book.user.nickname}", user_path(book.user_id), class: "book-user" %>
          </div>
        </div>
      </div>
    <% end %>
  </li>
  <%#フォローした人の本%>
  <li class='right-books'>
    <% if user_signed_in? %>
    <h2 class='what-lists'>フォローした人が読んだ本</h2>
    <% @fbooks.each do |fbook| %>
    <div class='book-list'>
      <%= link_to book_path(fbook.id) do %>
        <div class='book-content'>
          <%= image_tag(fbook.image, class: "book-image") %>
      <% end %>
          <div class='book-title'>
            タイトル:<%= link_to "#{fbook.title}", "/books/search?keyword=#{fbook.title}&commit=検索", class: "book-title" %>
          </div>
          <div class='book-author'>
            作者:<%= link_to "#{fbook.author}", "books/search?keyword=#{fbook.author}&commit=検索", class: "book-author" %>
          </div>
          <div class='book-genre'>
            ジャンル:<%= link_to "#{fbook.genre[:name]}", "#", class: "book-genre" %>
          </div>
          <div class='book-begining'>
            <%= "書き出し:" + fbook.begining %>
          </div>
          <div class='book-user'>
            投稿者:<%= link_to "#{fbook.user.nickname}", user_path(fbook.user_id), class: "book-user" %>
          </div>
        </div>
      </div>
    <% end %>
    <% else %>
      <div class='log-out-text'>
        <span>こんにちは</span>
        <span>𝔹𝕆𝕆𝕂𝕊 ℙ𝔸𝕊𝕊𝔸𝔾𝔼ではログインすることでいろいろなことができます</span>
        <ul class='log-out-message'>
        
          <li class='messages'>本の感想を投稿しよう</li>
          <div class='message-text'>投稿にはコメントで感想を共有することもできます</div>
          
          <li class='messages'>フォローしよう</li>
          <div class='message-text'>フォローすることでその人が投稿するとトップページに表示されます</div>

          <li class='messages'>投稿をしおりに挟もう</li>
          <div class='message-text'>感想を読んで気になった本をマイページでリストアップできます</div>

          <li class='messages'>検索しよう</li>
          <div class='message-text'>タイトル、作家名、ジャンルのアプリ内検索ができるようになります</div>
        </ul>
      </div>
    <% end %>
  </li>
  
</div>