<div class='title'>
  <div class='app-title'>
  𝔹𝕆𝕆𝕂𝕊 ℙ𝔸𝕊𝕊𝔸𝔾𝔼
  </div>
</div>

<div class='books-lists'>
  <%#全ての本のリスト%>
  <li class='left-books'>
    <h2 class='what-lists'>みんなが新しく読んだ本</h2>
    <% @books.each do |book| %>
      <div class='book-list'>
      <%= link_to book_path(book.id) do %>
        <div class='book-content'>
          <%= image_tag(book.image, class: "book-image") %>
      <% end %>
          <div class='book-title'>
            タイトル:<%= link_to "#{book.title}", "#", class: "book-title" %>
          </div>
          <div class='book-author'>
            作者:<%= link_to "#{book.author}", "#", class: "book-author" %>
          </div>
          <div class='book-genre'>
            ジャンル:<%= link_to "#{book.genre[:name]}", "#", class: "book-genre" %>
          </div>
          <div class='book-begining'>
            <%= "書き出し:" + book.begining %>
          </div>
          <div class='book-user'>
            投稿者:<%= link_to "#{book.user.nickname}", user_path(book.user_id), class: "book-user" %>
          </div>
        </div>
      </div>
    <% end %>
  </li>
  <%#フォローした人の本%>
  <li class='right-books'>
    <h2 class='what-lists'>フォローした人が読んだ本</h2>
    <% if user_signed_in? %>
    <% @fbooks.each do |fbook| %>
    <div class='book-list'>
      <%= link_to book_path(fbook.id) do %>
        <div class='book-content'>
          <%= image_tag(fbook.image, class: "book-image") %>
      <% end %>
          <div class='book-title'>
            タイトル:<%= link_to "#{fbook.title}", "#", class: "book-title" %>
          </div>
          <div class='book-author'>
            作者:<%= link_to "#{fbook.author}", "#", class: "book-author" %>
          </div>
          <div class='book-genre'>
            ジャンル:<%= link_to "#{fbook.genre[:name]}", "#", class: "book-genre" %>
          </div>
          <div class='book-begining'>
            <%= "書き出し:" + fbook.begining %>
          </div>
          <div class='book-user'>
            投稿者:<%= link_to "#{fbook.user.nickname}", user_path(fbook.user_id), class: "book-user" %>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
  </li>
  
</div>