<%= render "shared/header" %>

<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  
  <div class='show-content'>
    <div class='book-box'>
      <h2 class='show-book-title'><%= @book.title %></h2>
      <% if user_signed_in? %>
        <div class='iine-box'>
          <% if current_user.already_liked?(@book) %>
            <%= button_to '', book_like_path(@book), method: :delete, class: "iine-shiori" %>
            <h2 class=iine-text>しおりを外す</h2>
          <% else %>
            <%= button_to '', book_likes_path(@book), class: "iine" %>
            <h2 class=iine-text>しおりを挟もう</h2>
        <% end %>
        </div>
      <% end %>
      <h2 class="show-book-author"><%= "作者:" + @book.author %></h2>
      <div class='show-book-genre'>  
        <h2 class="show-book-genre"><%= "ジャンル:" + @book.genre[:name] %></h2>
      </div>
      <h2 class="show-book-user">投稿者:<%= link_to "#{@book.user.nickname}", user_path(@book.user_id),class: "show-book-user" %></h2>

      <%= image_tag(@book.image, class: "show-book-image") %>

      <div class=content-table>
        <div class='table'>
          <h2 class="table-name">書き出し</h2>
          <h2 class="table-value"><%= @book.begining %><h2>
        </div>

        <div class='table'>
          <h2 class="table-name">本の紹介・あらすじ・概要</h2>
          <h2 class="table-value"><%=@book.synopsis %><h2>
        </div>

        <div class='table'>
          <h2 class="table-name">心に残った一文</h2>
          <h2 class="table-value"><%= @book.sentence %><h2>
        </div>
      </div>

      <div class='open-btn'>
        <input type="button" value="感想を読む(ネタバレあり)" onclick="clickBtn1()" class='open-btn'/>
      </div>

      <div id='hide'>
        <div class=content-table>
          

          <div class='table'>
            <h2 class="table-name">感想</h2>
            <h2 class="table-value"><%=@book.thoughts %><h2>
          </div>
        </div>

        <div class="container">
          <% if user_signed_in? %>
            <%= form_with(model: [@book, @comment], local: true) do |form| %>
              <%= form.text_area :comment, placeholder: "コメントする", rows: "2" %>
              <%= form.submit "コメントする" , class: "comment-btn" %>
            <% end %>
            <div class="comments">
              <h4 class="coment-table">＜コメント一覧＞</h4>
              <% @comments.each do |comment| %>
                <p class="comment-box">
                  <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}", class: "comment-content" %>：</strong>
                  <span class='comment'><%= comment.comment %></span>
                  <% if current_user.id == comment.user.id %>
                    <%= link_to comment_path(comment.id), method: :delete, class: 'dc-btn' do %>
                      <span class="cd-btn-text">削除</span>
                   <% end %>
                  <% end %> 
                </p>
             <% end %>
            </div>
          <% else %>
            <strong><p class="are-you-log-in">コメントを閲覧、投稿するには、新規登録/ログインが必要です</p></strong>
          <% end %>
           
        </div>
        
      </div>
    </div>
  </div>

</div>



<%= render "shared/footer" %>

<% if user_signed_in? && current_user.id == @book.user_id %>
  <%= link_to edit_book_path(@book.id), class: 'e-btn' do %>
    <span class='e-btn-text'>編集する</span>
  <% end %>

  <%= link_to book_path(@book.id), method: :delete, class: 'd-btn' do %>
    <span class='d-btn-text'>削除する</span>
  <% end %>
  <% else %>
  <%= link_to new_book_path, class: 'pen-btn' do %>
    <span class='pen-btn-text'>感想を書く</span>
    <%= image_tag 'pen.png' , size: '80x80' ,class: "pen-btn-icon" %>
  <% end %>
<% end %>